html,body{
    background-image:url(../images/stade.jpg);
    background-repeat: no-repeat;
    background-size:     cover;                     
 }

p{
    color:rgb(255, 0, 0)
}

h1{
    color: rgb(0, 255, 170);
}