<!-- <!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title>index</title>
    </head>

    <body>
        <h1>first:</h1>
        <p>can't wait for the next job</p>

        

    </body>
</html> -->

{% extends "structur.html" %}

{% block main %}
    <h1>This is home page</h1>
    <p>Put your Passeword and Username to lig-in
    </p>
    <form action="/" method="post">
        <input placeholder="Username" name="username" type="text">
        <input placeholder="Password" name="password" type="password">
        <input type="submit">
    </form>
    <p>{{message}}</p>
{% endblock main%}