{% extends "structur.html" %}

{% block main %}
    <h1>signing up ! </h1>
    <p>Put your Passeword,Username,favorite_color to sign up</p>
    <form action="/signup" method="post">
        <input placeholder="Username" name="username" type="text">
        <input placeholder="Password" name="passeword" type="password">
        <input placeholder="Favorite Color" name="favorit_color" type="text">
        <input type="submit">
    </form>
    <a href="/home">home-page !</a>
    <p>{{message}}</p>

{% endblock main%}